/*
 * https://bilalbentoumi.github.io
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', serif;
    font-weight: 300;
    text-decoration: none;
}

*:focus {
    outline: none;
}

.app {
    height: 100%;
    --primary-color: #8873ef;
    --primary-color-dark: #6d58cf;
}

.container {
    width: 80%;
    margin: auto;
}

input, textarea {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    border: 1px solid #d5d6de;
    padding: 15px 20px;
    width: 100%;
    transition: 75ms;
    border-radius: 2px;
}

input:focus, textarea:focus {
    border-color: #9c9eb1;
}

/* Header */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
    transition: 75ms;
    border-bottom: 1px solid #EEF1F6;
}

.header .logo img {
    max-height: 56px;
    transition: 75ms;
}

.header .nav .toggle {
    display: none;
    padding: 10px;
    margin-inline-end: -10px;
}

.header .nav .nav-list {
    list-style: none;
    display: flex;
    gap: 45px;
}

.header .nav .nav-link {
    display: inline-block;
    color: #1A202C;
    font-weight: 500;
    font-size: 16px;
    padding-block: 15px;
    transition: 75ms;
}

.header .nav .nav-link:hover {
    color: var(--primary-color-dark);
}

/* Hero Section */
.hero-section .container {
    padding-block: 80px;
}

.hero-section .heading {
    font-size: 38px;
    font-weight: 700;
    max-width: 1100px;
}

/* Section */
.section .section-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* Portfolio */
.portfolio {
    padding-bottom: 80px;
}

.portfolio .projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    column-gap: 40px;
    row-gap: 50px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-name {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.project-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #2D3748;
}

/* Footer */
.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-block: 40px;
    border-top: 1px solid #EEF1F6;
}

.footer .logo img {
    max-height: 40px;
}

.footer .copyright {
    color: #2D3748;
    font-weight: 400;
    font-size: 16px;
}

.footer .copyright .heart {
    color: #FF0000;
}

.footer .social-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer .social-link svg {
    fill: #737F95;
    transition: 75ms;
}

.footer .social-link:hover svg {
    fill: #3F4654;
}

/* XS */
@media (min-width: 0px) and (max-width: 639px) {

    .container {
        width: 90%;
    }

    .header .container {
        padding-block: 15px;
    }
    .header .nav .toggle {
        display: block;
    }
    .header .nav .nav-list {
        display: none;
    }

    .hero-section .container {
        padding-top: 100px;
    }
    
    .portfolio .projects {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }

}

@media (min-width: 640px) and (max-width: 767px) {

    .container {
        width: 90%;
    }

    .header .nav .toggle {
        display: block;
    }
    .header .nav .nav-list {
        display: none;
    }

}

/* MD */
@media (min-width: 768px) and (max-width: 1023px) {

    .container {
        width: 90%;
    }

    .header .nav .toggle {
        display: block;
    }
    .header .nav .nav-list {
        display: none;
    }

}

/* LG */
@media (min-width: 1024px) and (max-width: 1279px) {

}

/* XL */
@media (min-width: 1280px) and (max-width: 1535px) {

}

/* 2XL */
@media (min-width: 1536px) {

}
